<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <machineKey 
        validationKey="102FB81F1210CEC632E10EE7F9110B41B8B8828A1849C35DC97E7B03CB64C1A32ABB27B9FE48DF9231FBA18577C7C9411FD56F09948E5B0255524F1F42B3C6EA"
        decryptionKey="E627C5B76A848C0D109197AB12D504926A34150B0328C259EF66D036EA41D858"
        validation="SHA1"
        decryption="AES" />
    </system.web>

</configuration>
